{% extends 'layouts.html' %} {% block body %}
<div class="container">
  <div class="pb-8">
    <h1
      class="text-4xl font-bold text-center italic py-3 text-orange-500 underline decoration-green-500"
    >
      FruitRipeness
    </h1>
    <p class="text-justify px-24 pt-5 text-lg">
      A presente aplicação permite detectar e classificar o estado de maturação
      de uma fruta com recurso a inteligência artificial, utilizando com entrada
      imagens e vídeo, o que é bastante útil para o sector agricola,
      principalmente se a aplicação for utilizada por intermédio de drones,
      facto que permitirá ao agrónomo, camponês ou mesmo um entusiasta agrícola
      o momento certo de se fazer a colheita.
    </p>

    <h2 class="text-4xl font-bold text-center italic py-3 text-orange-500 uppercase">
      YOLO
    </h2>

    <p class="text-justify py-2 px-24 text-lg">
      O YOLO (You Only Look Once) é um modelo de detecção de objetos em tempo
      real, amplamente utilizado em sistemas de visão computacional. Ele realiza
      a detecção de objetos de forma rápida e eficiente, dividindo a imagem em
      uma grade e, em seguida, fazendo previsões sobre a presença e localização
      dos objetos dentro dessas células da grade.
    </p>

    <h2 class="text-4xl font-bold text-center italic py-3 text-orange-500 uppercase">
        contactos do desenvolvedor
      </h2>
  
      <p class="text-justify py-2 px-24 text-lg">
        <b class="text-green-500 underline decoration-orange-500">LinkedIn:</b> Dagmar Mpheio
      </p>
      <p class="text-justify py-2 px-24 text-lg">
        <b class="text-green-500 underline decoration-orange-500">Github:</b> Dagmar Mpheio
      </p>
  </div>
</div>
{% endblock %}
