{% extends 'layouts.html' %} {% block body %}
<div class="container">
	<div class="w-2/4 mx-auto bg-gree-600">
		<form class="form-signin mx-auto w-96 
	max-w-7xl flex flex-col items-center justify-center" method=post enctype=multipart/form-data name="form1"
			id="data-form" action="deteccao#deteccao">
			<label for="image_ou_video" class="h3 font-normal text-xl">Insira uma imagem ou vídeo</label>
			<div class="text-red-500 mb-2
		px-4 py-2 w-1/3 text-center" id="messageErro"></div>
			<div class="border-dashed border cursor-pointer rounded-md text-xl
		border-green-400 max-w-6xl h-96 w-[600px] px-2 flex items-center justify-center
		dropzone">
				<!-- <div class="dropzone_thumb" data-label="mota.txt"></div> -->
				<span class="dropzone_prompt" id="dropzone_prompt">Seleccione uma imagem ou vídeo</span>
				<input type="file" accept="image/*, video/*" name="file" class="dropzone_input" id="image_ou_video"
					required>
			</div>

			<button class="remove-button bg-red-600 text-white py-2 tracking-widest
			rounded-md shadow-md mt-3 w-full max-w-screen-sm px-8 uppercase font-black" onclick="removeThumbnail(this.parentElement)" type="button">Remover Ficheiro</button> <!-- Botão de remoção -->
			<!--    <div class="mb-5">
		  <label for="imagem" class="block text-gray-700 text-sm mb-2">Imagem</label>
		  <div class="dropzone rounded-md bg-gray-100">
		  </div>
		  <p id="error"></p>
		</div> -->

		<!-- Select option para escolher o modelo  -->
		<div class="py-2 w-full text-center">
			<label for="modelo" class="text-xl mb-2">Selecione o tipo modelo</label>
			<select name="modelo_nome" id="modelo" class="w-full block px-3 py-2 bg-gray-100 text-lg">
				<option value="Medium">Medium</option>
				<option value="Small">Small</option>
				<option value="Nano">Nano</option>
			</select>
		</div>
			
		</select>
			<button class="bg-green-600 text-white py-2 tracking-widest
		rounded-md shadow-md mt-3 w-full max-w-screen-sm px-8 uppercase font-black" type="submit"
				onClick="validar()">Detectar</button>

			<div id="messageErro"></div>
		</form>
	</div>
	<!-- <img id="my-image" src="{{ url_for('show_image',  filename='teste_motoqueiro_17.jpg') }}"
					style="height:300px; width:300px" /> -->
	<div class="flex flex-col items-center justify-center mx-auto mt-2">
		{% if latest_file %}
			{% if file_extension == 'jpg' or file_extension == 'png'%}
				<div class="flex justify-between gap-x-4 items-center">
					<!-- detected image display -->
					<div>
						<h2 class="mb-6">Imagem Original:</h2>
						<img id="my-image" src="{{ url_for('show_image',  filename=latest_file) }}"
							style="height:300px; width:300px" class="rounded-md"/>
					</div>
					<div id="deteccao">
						<h2 class="mb-6">Imagem com as detenções: {{latest_file}}</h2>
						<img id="my-image" src="{{ url_for('static', filename='deteccoes-imagens'+'/'+latest_file) }}"
							style="height:300px; width:300px;" class="rounded-md"/>
					</div>
				</div>
					
			{% endif %}

		<div class="py-4">
			<form action="/guardar" method="post" enctype="multipart/form-data">
				<label for="imagem">Imagem: {{ latest_file }}</label>
				<br />
				<!-- <input type="file" name="image" id="image" required /> -->
				<input type="hidden" name="imagem" id="imagem" class="w-full block px-3 py-2 bg-gray-100"
					value="{{ latest_file }}" required/>
				<br />
				<label for="n_com_capacete">Motoqueiros com capacete:</label>
				<input type="number" name="n_com_capacete" id="n_com_capacete" required
					class="w-full block px-3 py-2 bg-gray-100" min="0" value="0" placeholder="Motoqueiros com capacete" />
				<br />
				<label for="n_sem_capacete">Motoqueiros sem capacete:</label>
				<input type="number" name="n_sem_capacete" id="n_sem_capacete"
					class="w-full block px-3 py-2 bg-gray-100" required min="0" value="0"
					placeholder="Motoqueiros sem capacete" />
				<br />
				<button class="w-full block rounded-md py-3 bg-green-600
				uppercase text-white font-bold cursor-pointer" type="submit">Guardar</button>
			</form>
		</div>
			{% endif %}
	</div>
	<br>
</div>

<script>
	function validar() {
		var inputFile = document.getElementById('image_ou_video');
		var ficheiro = inputFile.files[0];
		var validarMessage = document.getElementById('messageErro');
		if (!ficheiro) {
			validarMessage.innerHTML = 'Nenhum ficheiro carregado';
			return;
		}
		if (!ficheiro.type.startsWith('image/') && !ficheiro.type.startsWith('video/')) {
			validarMessage.innerHTML = 'O arquivo seleccionado não é uma imagem ou vídeo válido.';
			return;
		}
	}
</script>
{% endblock %}