{% extends 'layouts.html' %} {% block body %}

{% if data %}

<div class="mx-8 py-4">
    <!--MENSAGEM DE Sucesso-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div id="alert-border-3"
        class="flex items-center p-4 mb-4 text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800"
        role="alert">
        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <div class="ms-3 text-sm font-medium">
            {{message}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <style>
        .scrollable-table {
            display: grid;
            grid-template-rows: auto 1fr;
            height: 400px;
            /* Altura do grid */
            overflow: auto;
        }
    </style>
    <h2 class="text-xl font-bold text-center pb-3 px-4">Histórico de Detenção</h2>
    <!-- 
    
    <div class="max-w-3xl mx-auto rounded-lg">
        
        <table class="min-w-full">
            <div class="inline-block min-w-full sm:px-6 lg:px-8">
                
                <table class="min-w-full text-center text-sm font-light">
                    <thead class="border-b font-medium bg-zinc-500 dark:text-blue-500 ">
                        <tr class="text-white">
                            <th scope="col" class=" px-6 py-1">#</th>
                            <th scope="col" class=" px-6 py-1">Nome da Imagem</th>
                            <th scope="col" class=" px-6 py-1">Detenções com Capacete</th>
                            <th scope="col" class=" px-6 py-1">Detenções sem Capacete</th>
                            <th scope="col" class=" px-6 py-1">Data</th>
                            <th scope="col" class=" px-6 py-1">Acções</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </table>
    </div>
</div>
</div>
 -->
    <div class="max-w-3xl mx-auto rounded-lg shadow-sm mb-4">
        <!-- Ajuste a largura da tabela conforme necessário -->
        <div class="overflow-x-auto  sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full sm:px-2 lg:px-8">
                <div class="scrollable-table">
                    <!-- Ajuste a largura da    tabela conforme necessário -->
                    <table class="min-w-full text-center text-sm font-light">
                        <thead class="border-b font-medium bg-zinc-500 dark:border-blue-500 dark:text-blue-500" style="position: sticky; top:0; z-index: 2;">
                            <tr class="text-white">
                                <th scope="col" class=" px-6 py-1">#</th>
                                <th scope="col" class=" px-6 py-1">Nome da Imagem/Vídeo</th>
                                <th scope="col" class=" px-6 py-1">Detenções com Capacete</th>
                                <th scope="col" class=" px-6 py-1">Detenções sem Capacete</th>
                                <th scope="col" class=" px-6 py-1">Data</th>
                                <th scope="col" class=" px-6 py-1">Acções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dados in dados_tabela%}
                            <tr class="border-b dark:border-blue-500">
                                <td class="whitespace-nowrap  px-6 py-1 font-medium">{{ loop.index }}</td>
                                <td class="whitespace-nowrap  px-6 py-1">{{dados[1]}}</td>
                                <td class="whitespace-nowrap  px-6 py-1">{{dados[2]}}</td>
                                <td class="whitespace-nowrap  px-6 py-1">{{dados[3]}}</td>
                                <td class="whitespace-nowrap  px-6 py-1">{{dados[4]}}</td>
                                        
                                <td class="whitespace-nowrap  px-6 py-1">
                                    <form action="{{ url_for('delete_history', id=dados[0]) }}" method="post">
                                        <button class="bg-red-500 px-4 py-2 rounded-md text-lg text-white" id="submitButton" type="submit" title="Excluir">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
        <div class="flex flex-row mt-4 items-center justify-between">
            <p class="text-lg font-bold">Total sem capacete: {{totalSemCapacete}}</p>
            <p class="text-lg font-bold">Total com capacete: {{totalCapacete}}</p>
            <p class="text-lg font-bold">Total: {{total}}</p>
        </div>
 
    </div>

    <!-- Graficos -->
    <div class="max-w-3xl mx-auto py-4">
        <div class="flex flex-col items-center mx-auto max-w-screen-md">
            <div class="w-full h-96">
                <h2 class="text-xl mb-2 font-bold text-center">Relatório Gráfico</h2>
                <div class="w-full h-full">
                    <canvas id="myChart" class="w-full h-full"></canvas>
                </div>
            </div>

            <div class="w-full pb-5">
                <script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/chatjs-plugin-datalabels.min.js') }}"></script>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chartData = {{ data | tojson | safe }};

                    new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        },
                    });
                </script>
            </div>
        </div>
    </div>


    {% else %}
        <p class="text-center py-8">{{ message }}</p>
    {% endif %} {% endblock %} 

</div>
